<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hawk Demo App - MySQL</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<h1>Hawk Demo Application</h1>
<a href="/">Home</a> | <a href="/web/messaging/rabbitmq/">Test RabbitMQ</a>
<h2>MySQL</h2>
<form method="post" action="/web/rds/mysql/add">
    <label for="nameId">Tenant Name</label>
    <input id="nameId" name="name"/>
    <input type="submit" value="ADD"/>
</form>
<br/>
<table>
    <tr>
        <th>Tenant ID</th>
        <th>Tenant Name</th>
        <th>Date/Time Added</th>

    </tr>
    <tr th:each="tenant : ${tenents}">
        <td th:text="${tenant.id}"></td>
        <td th:text="${tenant.name}"></td>
        <td th:text="${#temporals.format(tenant.dateAdded, 'dd-MMM-yyyy HH:mm:ss')}"></td>
    </tr>
</table>
<br/>
</body>
</html>