<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hawk Demo App - RabbitMQ</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<h1>Hawk Demo Application</h1>
<a href="/">Home</a> | <a href="/web/rds/mysql/">Test MySQL</a>

<h2>RabbitMQ</h2>
<form method="post" action="/web/messaging/rabbitmq/send">
    <label for="messageId">Message</label>
    <input id="messageId" name="message"/>
    <input type="submit" value="SEND">
</form>
<br/>
<a href="/web/messaging/rabbitmq/">Refresh Table</a>
<br/><br/>
<table>
    <tr>
        <th>Date/Time Received</th>
        <th>Message Text</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${#temporals.format(message.dateAdded, 'dd-MMM-yyyy HH:mm:ss')}"></td>
        <td th:text="${message.message}"></td>
    </tr>
</table>
</body>
</html>